*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.informacion{
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: .5em;
}
.informacion div p{
    margin: 0;
}




